@media (min-width: 360px) and (max-width: 740px) {

.container{
    width: 100%;
    margin: 0;
}

.topo{
    display: block;
    padding: 20px 0 20px 0;
    box-shadow: 0px 10px #0f020262;
}

.topo img{
    width: 21.1em;
    height: 200px;
    margin: 10px;
}

.topo h1{
    font-size: 50px;
    padding-left: 6%;
    
}

p{
    font-size: 30px;
    
}


#centro-distribuicao{
    margin: 65px 0;
}

#centro-distribuicao img{
    margin: 0;
    width: 95vw;
}

#historia{
    font-size: 40px;
}

.familia-pelho img{
    width: 100%;
}

figcaption{
    font-size: 20px;
    letter-spacing: 1px;
}

#diferenciais{
    font-size: 40px;
}

.two ul{
    margin: 20px 00px;
    padding: 5px;
}

ul li{
    font-size: 30px; 
}



footer img{
    display: none;
}

.copy{ 
    font-size: 25px;
    margin: 0 auto; 
    padding-top: 0; 
    margin: 0;
}




}

@media (min-width: 375px) and (max-width: 667px) {

    .container{
      width: 100%;
      margin: 0;
    }

    .topo{
        display: block;
        padding: 20px 0 20px 0;
        box-shadow: 0px 10px #0f020262;
    }

    .topo img{
        width: 22em;
        height: 200px;
        margin: 10px;
    }

    .topo h1{
        font-size: 50px;
        padding-left: 6%;
        
    }

    p{
        font-size: 30px;
        
    }


    #centro-distribuicao{
        margin: 65px 0;
    }

    #centro-distribuicao img{
        margin: 0;
        width: 94vw;
    }

    #historia{
        font-size: 40px;
    }

    .familia-pelho img{
        width: 100%;
    }

    figcaption{
        font-size: 20px;
        letter-spacing: 1px;
    }

    #diferenciais{
        font-size: 40px;
    }

    .two ul{
        margin: 20px 00px;
        padding: 5px;
    }

    ul li{
        font-size: 30px; 
    }



    footer img{
        display: none;
    }

    .copy{ 
        font-size: 25px;
        margin: 0 auto; 
        padding-top: 0; 
        margin: 0;
    }
}

@media (min-width: 390px) and (max-width: 844px) {


    .topo{
        display: block;
        padding: 20px 0 20px 0;
        box-shadow: 0px 10px #0f020262;
    }
    
    .topo img{
        width: 23em;
        height: 200px;
        margin: 10px;
    }
    
    .topo h1{
        font-size: 50px;
        padding-left: 6%;
        margin-left: 10px;    
    }
    
    }

@media (min-width: 414px) and (max-width: 896px) {


.topo{
    display: block;
    padding: 20px 0 20px 0;
    box-shadow: 0px 10px #0f020262;
}

.topo img{
    width: 24.5em;
    height: 200px;
    margin: 10px;
}

.topo h1{
    font-size: 50px;
    padding-left: 6%;
    margin-left: 20px;    
}

}

@media (min-width: 412px) and (max-width: 915px) {


    .topo{
        display: block;
        padding: 20px 0 20px 0;
        box-shadow: 0px 10px #0f020262;
    }
    
    .topo img{
        width: 24.5em;
        height: 200px;
        margin: 10px;
    }
    
    .topo h1{
        font-size: 50px;
        padding-left: 6%;
        margin-left: 20px;    
    }
    
}

@media (min-width: 820px) and (max-width: 1180px) {
    *{
        margin: 0;
        padding: 0;
    }
    
    body{
        background-color: rgba(57, 153, 81, 0.253);
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }
    
    .container{
        background-color: white;
        width: 80%;
        margin: 0 auto;    
        flex-wrap: wrap;     
    }
    
    header{
        position: relative;
         
    }
    
    .topo{
        display: flex;
        background-color: rgb(95, 129, 118);
        color: white;
        width: 100%;
        box-shadow: 0px 5px #0f020262;
    }
    
    .topo img{
        width: 15em;
        height: 5%;
        margin: 20px 0 10px 40px;
        border-radius: 10px;
    }
    
    .topo h1{
        margin: 10px;
        padding: 50px 0 0 60px;
         
    }
    
    .zero{
        display: flex;  
        flex-wrap: wrap;
        overflow: hidden;
    }
    
    p{
        margin: 20px 5px;
        padding: 20px;
        font-size: 25px;
    }
    
    #centro-distribuicao{
        
        width: 100%;
        text-align: center;
        margin: 180px 0;
        
    }
    
    #centro-distribuicao img{
        border: 5px double rgb(1, 1, 43);
        
    }
    
    figcaption{
        font-style: italic; 
        font-size: 20px; 
    }
    
    .destaqueTag{
        color: red;
    }
    
    .destaqueTag:hover{
        color: rgb(245, 112, 112);
    }
    
    
    
    .one{
        display: flex;  
        flex-wrap: wrap;
        overflow: hidden;   
    }
    
    .topo-secao-one{   
        display: block;
        width: 100%;   
    }
    
    h2{
        display: inline-block;
        width: 100%;
        font-size: 2em;
        text-align: center;
        margin: 30px 0;
    }
    
    #familia-pelho{
        width: 100%;
        text-align: center;
    }
    
    #familia-pelho img{
        width: 100%;
        max-width: 500px;
        min-width: 100px;
        margin: 0 auto;
    }
    
    .two{
        margin-bottom: 300px;
    }
    
    .two ul{
        list-style: none;
        margin: 20px 5px;
        padding: 20px;
        font-size: 23px;
        text-decoration: underline;
    }
    
    .two ul li{
        padding: 10px;
    }
    
    footer{
    
        display: flex;
        height: 50px;
        background-color: rgba(165, 162, 162, 0.986);
        text-align: center;
        justify-content: center;
        padding: 25px;
    
        
    }
    
    footer img{  
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin: 0 5px 0 90px;
        
    }
    
    .copy{ 
        padding-top: 23px;
        font-size: 15px;
        margin: 0 90px 0px 0;
        flex-wrap: nowrap;
    }
    
}